*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: sans-serif;
}

.container{
    margin: 2em auto;
    width: 100%;
    width: 40%;
}

header{
    background-color: rgba(127, 88, 155, 0.414);
    color: rgb(120, 96, 172);
    text-align: center;
    padding: 1em;
    margin: 1em 0;
}


.top-image div{
    width: 100%;
    height: fit-content;
    /* border: 1px solid red; */
}

img{
    width: 100%;
} 

.bottom-container figure{
    width: calc(100% / 5);
    aspect-ratio: 1;
}


.bottom-container{
    display: flex;
    position: relative;
}

.d-none{
    display: none;
}

.top-image div figure{
    position: relative;
}

.description{
    position: absolute;
    top: 0em;
    padding: 0.7em;
    /* font-size: 0.8em; */
    text-align: end;
    color: white;
    box-shadow: black;
    background-color: rgba(0, 0, 0, 0.435);

}

.right-arrow{
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 0;
    width: 1.5em;
    fill: white;
    padding-right: 0.5em;
    
}

.left-arrow{
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: 0;
    fill: white;
    width: 1.5em;
    padding-left: 0.5em;
}

.smaller-text{
    font-size: 0.5em;
}

.bigger-text{
    font-size: 0.8em;
    margin-bottom: 0.5em;
}